<!DOCTYPE html>
<html lang="{{ constant('WEBSITE_LANGUAGE')}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ constant('WEBSITE_LOGO') }}">
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="CSS/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
		<script src="node_modules/tarteaucitronjs/tarteaucitron.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-NRC87HJ4');
		</script>

		<title>
			{% block title %}
				{{ constant('WEBSITE_TITLE_LONG') }}
			{% endblock %}
			- VHS
		</title>

		<style>
			html,
			body {
				overflow-x: hidden; /* Empêche le scroll horizontal */
				margin: 0; /* Retirer toute marge par défaut */
				font-family: 'Montserrat', sans-serif;
			}
		</style>


	</head>
	<body
		class="d-flex flex-column min-vh-100 bg-mylight">
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NRC87HJ4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<header>
			<nav
				class="navbar navbar-expand-lg navbar-mydark justify-content-center">
				<!-- Section gauche -->
				<div class="navbar-start d-flex align-items-center">
					<a class="navbar-brand d-none d-lg-flex align-items-center ms-lg-5" href="index.php">
						<img src="{{ constant('WEBSITE_LOGO') }}" class="img-fluid website-logo" alt="VHS Logo">
					</a>
					<button class="navbar-toggler bi bi-list" type="button" data-bs-toggle="collapse" data-bs-target="#submenu" aria-expanded="false" aria-label="Toggle navigation"></button>
					<div class="collapse navbar-collapse" id="navbarContent">
						<div class="d-flex align-items-center ms-lg-2">
							<button class="btn btn-myprimary bi bi-list" type="button" data-bs-toggle="collapse" data-bs-target="#submenu" aria-expanded="false">
								Menu
							</button>
						</div>
					</div>
				</div>

				<!-- Section centrale (barre de recherche) -->
				<form class="search-form-container flex-grow-1" method="POST" action="index.php?controller=index&methode=rechercher">
					<div class="input-group">
						<input class="form-control fw-light" type="search" placeholder="Barre de recherche" aria-label="Search" name="recherche">
						<button class="btn bg-myprimary" type="submit">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</form>

				<!-- Section droite -->
				<div class="navbar-end d-flex align-items-center gap-3 me-lg-4">
					{% if utilisateurConnecte is null %}
						<a href="index.php?controller=utilisateur&methode=connexion">
							<button class="btn btn-myprimary">Connexion</button>
						</a>
					{% else %}
						<a href="index.php?controller=utilisateur&methode=deconnexion">
							<button class="btn btn-myprimary">
								Déconnexion</button>
						</a>

					{% endif %}

					<a class="navbar-brand d-flex align-items-center text-white mb-0" href="#">
						<p class="mb-0 me-2 d-none d-lg-block">{{ constant('WEBSITE_LANGUAGE')}}</p>
						<img src="{{ constant('WEBSITE_LOGO_FLAG')}}" height="24" alt="FR">
					</a>
				</div>
			</nav>


			<!-- Menu secondaire -->
			<div class="collapse" id="submenu">
				<div class="bg-mydark border-top border-2 border-myprimary py-4">
					<div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 gap-md-5">
						<a href="index.php?controller=fil&methode=listerThreads">
							<button class="btn btn-myprimary">Forum</button>
						</a>
						<a href="index.php?controller=watch2gether&methode=accueilWatch2Gether">
							<button class="btn btn-myprimary">Watch2Gether</button>
						</a>
						<a href="index.php?controller=watchlist&methode=afficherWatchlists">
							<button class="btn btn-myprimary">WatchList</button>
						</a>
						<a href="index.php?controller=quizz&methode=listeQuizz">
							<button class="btn btn-myprimary">Quizz</button>
						</a>

						<a href="index.php?controller=utilisateur&methode=show">
							<button class="btn btn-myprimary">Profil</button>
						</a>

						{% if utilisateurConnecte is not null and utilisateurConnecte.getRole().toString() == "Moderateur" %}
							<a href="index.php?controller=signalement&methode=afficheSignalements">
								<button class="btn btn-myprimary">signalement</button>
							</a>
						{% endif %}

					</div>
				</div>
			</div>
		</header>


		{% block content %}{% endblock %}

		<!-- Barres de couleurs -->
		<div class="container-fluid p-0">
			<div class="row g-2">
				<div class="col-12 bg-myprimary py-2" style="height: 2vh;"></div>
				<div class="col-12 bg-mysecondary py-2" style="height: 2vh;"></div>
				<div class="col-12 bg-mytercary py-2 mb-2" style="height: 2vh;"></div>
			</div>
		</div>


		<!-- Footer -->
		<footer class="bg-mydark mt-auto py-4">
			<div class="container">
				<div class="row text-center">
					<div class="col-12">
						<div class="d-flex flex-wrap justify-content-center text-white gap-3 mb-3">
							<p class="mb-2">À propos de VHS</p>
							<a class="" data-bs-toggle="modal" data-bs-target="#afficherconditions">
								Conditions d'utilisation
							</a>
							<a class="" data-bs-toggle="modal" data-bs-target="#afficherpolitiqueconfidentialite"> Politique de confidentialité</a>
							<a class="" data-bs-toggle="modal" data-bs-target="#afficherpolitiquecookies"> Politique de cookies</a>
							<a class="" data-bs-toggle="modal" data-bs-target="#afficherattributiontmldb"> Droit d'api TMDB</a>
							
						</div>
					</div>
					<div class="col-12">
						<div class="d-flex justify-content-center gap-3 mb-3">
							<a href="https://www.facebook.com/"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/facebook-new.png" alt="Facebook" class="logo-facebook"/></a>
							<a href="https://www.instagram.com/"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/instagram-new.png" alt="Instagram" class="logo-instagram"/></a>
							<a href="https://twitter.com/"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/twitter--v1.png" alt="Twitter" class="logo-twitter"/></a>
						</div>
					</div>
					<div class="col-12">
						<p class="text-white mb-0">© 2024 VHS</p>
					</div>
				</div>
			</div>

			<!-- Modals du footer-->
			{% include 'modals.html.twig' with { 'last_update_date': '08/01/2025' } %}
		</footer>


		{% block script %}
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		{% endblock %}

		<script type="text/javascript" src="/js/tarteaucitron/tarteaucitron.js"></script>
		<script type="text/javascript">
			tarteaucitron.init({
"privacyUrl": "/politique-de-confidentialite",
"hashtag": "#tarteaucitron",
"cookieName": "tarteaucitron",
"orientation": "bottom",
"showAlertSmall": true,
"cookieslist": true,
"closePopup": false,
"showIcon": true,
"iconPosition": "BottomRight",
"AcceptAllCta": true,
"highPrivacy": true,
"handleBrowserDNTRequest": false,
"removeCredit": true,
"moreInfoLink": true,
"useExternalCss": false
});

tarteaucitron.services.ga = {
"key": "ga",
"type": "analytic",
"name": "Google Analytics",
"uri": "https://policies.google.com/privacy",
"needConsent": true,
"cookies": [
'_ga', '_gat', '_gid'
],
"js": function () {
(function (i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r;
i[r] = i[r] || function () {
(i[r].q = i[r].q || []).push(arguments)
},
i[r].l = 1 * new Date();
a = s.createElement(o),
m = s.getElementsByTagName(o)[0];
a.async = 1;
a.src = g;
m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-XXXXXXX-X', 'auto');
ga('send', 'pageview');
}
};
		</script>

	</body>
</html>
