
{% macro afficherReponses(reponses, idAuteur, pseudoAuteur, idFil, messageSuppr) %}
    {% set auteurParentId = idAuteur %}
    {% set auteurParentPseudo = pseudoAuteur %}
    {% for reponse in reponses %}
        <div class="card my-4 shadow-sm border-0 rounded-3 ms-md-5 ms-2">
            <div class="card-body p-md-4 p-3 bg-mydark text-white rounded">
                <div class="d-flex align-items-center">
                    <img src="{{ reponse.getUtilisateur() ? reponse.getUtilisateur().getUrlImageProfil() : 'default_avatar.jpg' }}" alt="Avatar" class="rounded-circle me-3" width="50" height="50">
                    <div class="d-flex flex-wrap align-items-center">
                        <h5 class="mb-0 mx-2 username-link">
                            <a href="index.php?controller=utilisateur&methode=show&id_utilisateur={{reponse.getUtilisateur().getId() }}" style="color:white;" class="text-decoration-none">
								{{ reponse.getUtilisateur().getPseudo() ?: 'Utilisateur inconnu' }}

							</a>
                        </h5>
                        <span class="mx-2" style="font-size: 1.2em;">•</span>
                        <small>{{ reponse.datePublication | date('d M Y') }}</small>
                        <span class="mx-2" style="font-size: 1.2em;">•</span>
                        <small>
                            Répond à
                            <a href="index.php?controller=utilisateur&methode=show&id_utilisateur={{ auteurParentId }}">
                                @{{ auteurParentPseudo }}
                            </a>
                        </small>
                    </div>
                </div>
                <p class="mt-3">
					{% if reponse.getValeur() == messageSuppr and reponse.getUtilisateur().getPseudo() is null %}
						<i>{{ reponse.valeur }}</i>
					{% else %}
						{{ reponse.valeur }}
					{% endif %}
				</p>
                <div class="d-flex justify-content-between mt-4">
					<!-- Boutons like, dislike, répondre -->
					<div class="d-flex flex-wrap gap-2">
						<form method="POST" action="index.php?controller=fil&methode=like">
							<input type="hidden" name="id_message" value="{{ message.getIdMessage() }}">
							<input type="hidden" name="id_fil" value="{{ fil.id }}">
							<button class="btn action-btn" type="submit" {% if message.valeur == messageSuppr or utilisateurConnecte is null %}disabled{% endif %}>
								<i class="bi bi-hand-thumbs-up"></i>
								{% if message.nbLikes > 0 %}
									<span class="count">{{ message.nbLikes }}</span>
								{% endif %}
							</button>
						</form>

						<form method="POST" action="index.php?controller=fil&methode=dislike">
							<input type="hidden" name="id_message" value="{{ message.getIdMessage() }}">
							<input type="hidden" name="id_fil" value="{{ fil.id }}">
							<button class="btn action-btn" type="submit" {% if message.valeur == messageSuppr or utilisateurConnecte is null %}disabled{% endif %}>
								<i class="bi bi-hand-thumbs-down"></i>
								{% if message.nbDislikes > 0 %}
									<span class="count">{{ message.nbDislikes }}</span>
								{% endif %}
							</button>
						</form>

						<button class="btn action-btn" 
								data-bs-toggle="modal" 
								data-bs-target="#repondreModal" 
								data-id-message-parent="{{ message.getIdMessage() }}"
								{% if message.valeur == messageSuppr or utilisateurConnecte is null %}disabled{% endif %}>
							<i class="bi bi-reply"></i>
							<span class="btn-text">Répondre</span>
						</button>
					</div>

					<!-- Boutons supprimer/signaler -->
					<div class="d-flex gap-2">
						{% if message.getUtilisateur().getId() == utilisateurConnecte.getId() %}
							<form method="POST" action="index.php?controller=fil&methode=supprimerMessage">
								<input type="hidden" name="idMessage" value="{{ message.getIdMessage() }}">
								<input type="hidden" name="id_fil" value="{{ fil.id }}">
								<button class="btn action-btn warning-btn" {% if message.valeur == messageSuppr or utilisateurConnecte is null %}disabled{% endif %}>
									<i class="bi bi-trash"></i>
									<span class="btn-text">Supprimer</span>
								</button>
							</form>
						{% else %}
							<button class="btn action-btn warning-btn"
									data-bs-toggle="modal"
									data-bs-target="#signalement"
									data-id-message="{{ message.getIdMessage() }}"
									{% if message.valeur == messageSuppr or utilisateurConnecte is null %}disabled{% endif %}>
								<i class="bi bi-flag"></i>
								<span class="btn-text">Signaler</span>
							</button>
						{% endif %}
					</div>
                </div>
            </div>
        </div>

        <!-- Affichage des réponses aux réponses -->
        {% if reponse.reponses is not empty %}
            {{ _self.afficherReponses(reponse.reponses, reponse.getUtilisateur() ? reponse.getUtilisateur().getId() : 0, reponse.getUtilisateur() ? reponse.getUtilisateur().getPseudo() : 'Utilisateur inconnu', idFil, messageSuppr) }}
        {% endif %}

    {% endfor %}
{% endmacro %}


{% import _self as macros %}
{% extends 'base_template.html.twig' %}

{% block title %}
VHS | Fil
{% endblock %}

{% block content %}
<main class="flex-grow-1">
	<div class="container-fluid bg-mydark text-white p-4 shadow " style="border-top: 5px solid #F2AC0F;">
		<div class="text-center">
			<h2 class="mb-3">{{ fil.titre }}</h2>
			<p class="">{{ fil.description }}</p>
			{% for theme in fil.getThemes() %}
				<span class="badge bg-myprimary text-dark me-2 mb-2 p-2">{{ theme.getNom() }}</span>
			{% endfor %}
		</div>
	</div>

	<!-- Message d'erreur -->
	{% if messageErreur is not null %}
		<div class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="background-color: #dc3545; color: white;">
			{{ messageErreur }}
			<button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endif %}

	<div class="container mt-3">
		{% for message in messages %}
			{% if message.idMessageParent is null %}
				<div id="{{message.getIdMessage()}}" class="card my-4 shadow-sm border-0 rounded-3">
					<div class="card-body p-4 bg-mydark text-white rounded">
						<div class="d-flex align-items-center">
							<img src="{{ message.getUtilisateur() ? message.getUtilisateur().getUrlImageProfil() : 'default_avatar.jpg' }}" alt="Avatar" class="rounded-circle me-3" width="50" height="50">
							<div class="d-flex align-items-center">
								<h5 class="mb-0 mx-2 username-link">
									<a href="index.php?controller=utilisateur&methode=show&id_utilisateur={{message.getUtilisateur().getId() }}" style="color:white;" class="text-decoration-none">
										{{ message.getUtilisateur().getPseudo() ?: 'Utilisateur inconnu' }}
									</a>
								</h5>
								<span class="mx-2" style="font-size: 1.2em;">•</span>
								<small>{{ message.dateC | date('d M Y') }}</small>
							</div>
						</div>
						<div class="message" data-id-message="{{ message.getIdMessage() }}">
							<p class="message-text">
								{% if message.valeur == messageSuppr and message.getUtilisateur().getPseudo() is null %}
									<i>{{ message.valeur }}</i>
								{% else %}
									{{ message.valeur }}
								{% endif %}
							</p>
						</div>
						<div class="d-flex justify-content-between mt-4">
							<!-- Boutons like, dislike, répondre -->
							<div class="d-flex flex-wrap gap-2">
								<form method="POST" action="index.php?controller=fil&methode=like">
									<input type="hidden" name="id_message" value="{{ message.getIdMessage() }}">
									<input type="hidden" name="id_fil" value="{{ fil.id }}">
									<button class="btn action-btn" type="submit" {% if message.valeur == messageSuppr or utilisateurConnecte is null %}disabled{% endif %}>
										<i class="bi bi-hand-thumbs-up"></i>
										{% if message.nbLikes > 0 %}
											<span class="count">{{ message.nbLikes }}</span>
										{% endif %}
									</button>
								</form>

								<form method="POST" action="index.php?controller=fil&methode=dislike">
									<input type="hidden" name="id_message" value="{{ message.getIdMessage() }}">
									<input type="hidden" name="id_fil" value="{{ fil.id }}">
									<button class="btn action-btn" type="submit" {% if message.valeur == messageSuppr or utilisateurConnecte is null %}disabled{% endif %}>
										<i class="bi bi-hand-thumbs-down"></i>
										{% if message.nbDislikes > 0 %}
											<span class="count">{{ message.nbDislikes }}</span>
										{% endif %}
									</button>
								</form>

								<button class="btn action-btn" 
										data-bs-toggle="modal" 
										data-bs-target="#repondreModal" 
										data-id-message-parent="{{ message.getIdMessage() }}"
										{% if message.valeur == messageSuppr or utilisateurConnecte is null %}disabled{% endif %}>
									<i class="bi bi-reply"></i>
									<span class="btn-text">Répondre</span>
								</button>
							</div>

							<!-- Boutons supprimer/signaler -->
							<div class="d-flex gap-2">
								{% if message.getUtilisateur().getId() == utilisateurConnecte.getId() %}
									<form 
										method="POST" 
										action="index.php?controller=fil&methode=supprimerMessage" 
										onsubmit="return confirmerSuppression('{{ message.getIdMessage() }}');">
										<input type="hidden" name="idMessage" value="{{ message.getIdMessage() }}">
										<input type="hidden" name="id_fil" value="{{ fil.id }}">
										<button 
											class="btn action-btn warning-btn" 
											{% if message.valeur == messageSuppr or utilisateurConnecte is null %}disabled{% endif %}>
											<i class="bi bi-trash"></i>
											<span class="btn-text">Supprimer</span>
										</button>
									</form>
								{% else %}
									<button class="btn action-btn warning-btn"
											data-bs-toggle="modal"
											data-bs-target="#signalement"
											data-id-message="{{ message.getIdMessage() }}"
											{% if message.valeur == messageSuppr or utilisateurConnecte is null %}disabled{% endif %}>
										<i class="bi bi-flag"></i>
										<span class="btn-text">Signaler</span>
									</button>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

				{% if message.reponses is not empty %}
					{{ macros.afficherReponses(message.reponses, message.getUtilisateur().getId(), message.getUtilisateur().getPseudo(), fil.id, messageSuppr) }}
				{% endif %}


			{% endif %}
		{% endfor %}
	</div>

	<!-- Bouton flottant -->
	
	<button class="btn btn-myprimary position-fixed bottom-0 end-0 me-4 mb-4 px-6 d-flex align-items-center justify-content-center" style="border-radius: 50px; white-space: nowrap; min-width: 200px;" data-bs-toggle="modal" data-bs-target="#nouveauMessage" {% if utilisateurConnecte is null %} disabled {% endif %}>
		<i class="bi bi-pencil" style="font-size: 1.3rem; margin-right: 0.2 rem;"></i>
		<span>Ecrire un message
		</span>
	</button>


	<!-- Modal de nouveau message -->
	<div class="modal fade" id="nouveauMessage" tabindex="-1" aria-labelledby="nouveauMessageLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" style="height: 80vh;">
			<div class="modal-content popup-content bg-mydark" id="popUpNouveauMessage">
				<div class="modal-header text-white text-center">
					<h5 class="modal-title w-100" id="nouveauMessageLabel">Nouveau message</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fermer"></button>
				</div>
				<form action="index.php?controller=fil&methode=ajouterMessage" method="POST" class="modal-body text-white">
					<div class="d-flex justify-content-between mt-2">
						<p>Votre message :</p>
						<span>0 / 1000</span>
					</div>
					<input type="hidden" name="id_fil" value="{{ fil.id }}">
					<textarea name="message" class="form-control mt-1 bg-mylight text-black p-3" rows="4" placeholder="Exprimez-vous..." maxlength="1000" required></textarea>
					<div class="modal-footer">
						<button type="submit" class="btn btn-xs btn-myprimary">
							<i class="bi bi-send"></i>
							Envoyer
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal de réponse à un autre message -->
	<div class="modal fade" id="repondreModal" tabindex="-1" aria-labelledby="repondreModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" style="height: 80vh;">
			<form action="index.php?controller=fil&methode=ajouterMessage" method="POST" class="modal-content popup-content bg-mydark" id="popUpRepondre">
				<div class="modal-header text-white text-center">
					<h5 class="modal-title w-100" id="repondreModalLabel">Répondre</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fermer"></button>
				</div>
				<div
					class="modal-body text-white">
					<div class="message-original bg-mylight text-black p-3">
						<strong>{{ message.getUtilisateur().getPseudo() }}</strong>
						<p>{{ message.valeur }}</p>
					</div>
					<input type="hidden" name="id_fil" value="{{ fil.id }}">
					<input
					type="hidden" name="id_message_parent" value="{{ reponse.getIdMessage() }}">
					<textarea class="form-control mt-3 bg-mylight text-black p-3" rows="4" name="message" placeholder="Répondre à {{ message.getUtilisateur().getPseudo() }}" maxlength="1000" required></textarea>
					<div class="text-end mt-2">
						<span>0 / 1000</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-xs btn-myprimary">
						<i class="bi bi-send"></i>
						Envoyer
					</button>
				</div>

			</form>
		</div>
	</div>


	<!-- Modal de signalement -->
	<div class="modal fade" id="signalement" tabindex="-1" aria-labelledby="signalement" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content bg-dark text-white">
				<div class="modal-header">
					<h5 class="modal-title" id="nouveauMessageLabel">Signaler un message</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fermer"></button>
				</div>
				<form action="index.php?controller=fil&methode=signalerMessage" method="POST">
					<div class="modal-body">
						<div class="mb-3">
							<p style="color: #F2AC0F;">Vous signalez le message :</p>
							<span class="message-to-signal " > </span> 
						</div>
						<p class="mt-2" style="color: #F2AC0F;">Pour la raison :</p>
						<select name="raison" class="form-select" required>
							<option value="" disabled selected>Choisissez une raison</option>
							{% for raison in raisonSignalement %}
								<option value="{{ raison }}">{{ raison }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="id_message" value="" id="id_message_signalement"> 
						<input type="hidden" name="id_fil" value="{{ fil.id }}">
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">
							<i class="bi bi-send"></i>
							Envoyer
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>





	<script src="js/thread.js"></script>
	<script>
    function confirmerSuppression(idMessage) {
        const confirmationMessage = `Êtes-vous sûr de vouloir supprimer ce message ?`;
        return confirm(confirmationMessage); // Affiche une boîte de confirmation native
    }
</script>


</main>

<style>
@media (max-width: 768px) {
    .username-link {
        font-size: 1rem;
    }
    
    .card-body {
        padding: 1rem !important;
    }
    
    .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }
    
    .modal-dialog {
        margin: 0.5rem;
    }
}

@media (max-width: 576px) {
    .container-fluid {
        padding: 0.5rem;
    }
    
    .ms-md-5 {
        margin-left: 1rem !important;
    }
}


.action-btn {
    background-color: #F2F2F2;
    color: #000;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.warning-btn {
    background-color: #dc3545;
    color: white;
}

.count {
    margin-left: 0.3rem;
}

@media (max-width: 768px) {
    .action-btn {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
    }
    
    .btn-text {
        display: none;
    }
    
    .count {
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .action-btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }
}
</style>

{% endblock %}
