{% extends 'base_template.html.twig' %}

{% block content %}
	<div class="container-fluid bg-mydark text-white p-4 shadow mb-5" style="border-top: 5px solid #F2AC0F;">
		<div class="text-center">
			<h2 class="mb-3">{{ fil.titre }}</h2>
			<p class="">{{ fil.description }}</p>
		</div>
	</div>

	<div class="container">
	<pre>
		{{ dump(messages) }}
	</pre>
		{% for message in messages %}
			{% if message.idMessageParent is null %}
				<div class="card my-4 shadow-sm border-0 rounded-3">
					<div class="card-body p-4 bg-mydark text-white rounded">
						<div class="d-flex align-items-center">
							<img src="{{ message.getUtilisateur().urlImageProfil }}" alt="Avatar" class="rounded-circle me-3" width="50" height="50">
							<div class="d-flex align-items-center">
								<h5 class="mb-0 mx-2">{{ message.getUtilisateur() ? message.getUtilisateur().getPseudo() : 'Utilisateur inconnu' }}</h5>
								<span class="mx-2 " style="font-size: 1.2em;">•</span>
								<small class="">{{ message.datePublication | date('d M Y') }}</small>
							</div>
						</div>
						<p class="mt-3">{{ message.valeur }}</p>
						<div class="d-flex justify-content-between mt-4">
							<div class="d-flex w-100 mt-4">
								<div class="me-auto">
									<button class="btn btn-sm me-2" style="background-color: #F2F2F2; color: #000;">
										<i class="bi bi-hand-thumbs-up"></i>
									</button>
									<button class="btn btn-sm me-2" style="background-color: #F2F2F2; color: #000;">
										<i class="bi bi-hand-thumbs-down"></i>
									</button>
									<button class="btn btn-sm" style="background-color: #F2F2F2; color: #000;">
										<i class="bi bi-reply"></i>
										Répondre
									</button>
								</div>
								<div class="d-flex justify-content-end" style="flex-grow: 1;">
									<button class="btn btn-sm" style="background-color: #dc3545; color: white;">
										<i class="bi bi-flag"></i>
										Signaler
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}

			{% if message.reponse %}
				<div class="card my-4 shadow-sm border-0 rounded-3 ms-5">
					<div class="card-body p-4 bg-mydark text-white rounded">
						<div class="d-flex align-items-center">
							<img src="{{ message.reponse.getUtilisateur().urlImageProfil }}" alt="Avatar" class="rounded-circle me-3" width="50" height="50">
							<div class="d-flex align-items-center">
								<h5 class="mb-0 mx-2">{{ message.reponse.getUtilisateur() ? message.reponse.getUtilisateur().getPseudo() : 'Utilisateur inconnu' }}</h5>
								<span class="mx-2 " style="font-size: 1.2em;">•</span>
								<small class="">{{ message.reponse.datePublication | date('d M Y') }}</small>
								<span class="mx-2 " style="font-size: 1.2em;">•</span>
								<small class="">Répond à @{{ message.getUtilisateur() ? message.getUtilisateur().getPseudo() : 'Utilisateur inconnu' }}</small>
							</div>
						</div>
						<p class="mt-3">{{ message.reponse.valeur }}</p>
						<div class="d-flex justify-content-between mt-4">
							<div class="d-flex w-100 mt-4">
								<div class="me-auto">
									<button class="btn btn-sm me-2" style="background-color: #F2F2F2; color: #000;">
										<i class="bi bi-hand-thumbs-up"></i>
									</button>
									<button class="btn btn-sm me-2" style="background-color: #F2F2F2; color: #000;">
										<i class="bi bi-hand-thumbs-down"></i>
									</button>
									<button class="btn btn-sm" style="background-color: #F2F2F2; color: #000;">
										<i class="bi bi-reply"></i>
										Répondre
									</button>
								</div>
								<div class="d-flex justify-content-end" style="flex-grow: 1;">
									<button class="btn btn-sm" style="background-color: #dc3545; color: white;">
										<i class="bi bi-flag"></i>
										Signaler
									</button>
								</div>
							</div>
						</div>
					</div>
					</div>
				{% endif %}

			{% endfor %}
		</div>
	{% endblock %}
