{% extends 'base_template.html.twig' %}

{% block title %}
	VHS | Liste des quizz
{% endblock %}

{% block content %}
<main class="container min-vh-100">
	{# Bouton créer un quizz collé en bas à droite de la fenêtre #}
	{# Redirige vers creationQuizz.html.twig avec l'identifiant de l'utilisateur #}
	<a href="index.php?controller=quizz&methode=creerQuizz&idUtilisateur" class="btn btn-primary position-fixed bottom-0 end-0 me-4 mb-4 px-6 d-flex align-items-center justify-content-center" style="border-radius: 50px; white-space: nowrap; min-width: 200px;">
		<i class="bi bi-pencil" style="font-size: 1.3rem; margin-right: 0.2 rem;"></i>
		<b>Créer un quizz</b>
    </a>
    <br>
    <div class="row text-center">
        <div class="col mb-2">
            <a href="index.php?controller=quizz&methode=listeQuizz" class="btn btn-primary"><b>Voir les quizz</b></a>
        </div>
        <div class="col mb-2">
            <a href="index.php?controller=quizz&methode=gererQuizzUtilisateur&idUtilisateur" class="btn btn-primary"><b>Gérer mes quizz</b></a>
        </div>
    </div>
    <br>
    <div class="row">
        {% for quiz in quizz %}
            {% if idUtilisateur == null %}
                <div class="col">
					{# Carte de chaque quizz contenant son titre, sa description, sa difficulté, sa date de création et l'id de l'utilisateur auteur mais affiche son pseudo à la place' #}
					<div class="card mb-3 bg-mydark text-white rounded" style="max-width: 540px;">
						<div class="row g-0">
							<div class="card-body">
								<h5 class="card-title">{{ quiz.titre }}</h5>
								<br>
								<p class="card-text">{{ quiz.description }}</p>
								<p class="card-text">Difficulté : {{ quiz.difficulte }}</p>
								<small class="card-text">Fait le {{ quiz.dateC }}</small><br>
								<small class="card-text">Par {{ quiz.idUtilisateur }}</small><br>
								<br>
								{# Redirige vers jouerQuizz.html.twig avec l'identifiant du quizz #}
								<a href="index.php?controller=quizz&methode=jouerQuizz&idQuizz={{ quiz.id }}" class="btn btn-myprimary">
                                    Jouer
                                </a>
							</div>
						</div>
					</div>
				</div>
            {% endif %}
        {% endfor %}
        {% for quiz in quizz %}
            {% if idUtilisateur != null %}
                {% if quiz.idUtilisateur == idUtilisateur %}
                <div class="col">
					{# Carte de chaque quizz créé par l'utilisateur connecté contenant son titre, sa description, sa difficulté et sa date de création #}
					<div class="card mb-3">
						<div class="row g-0">
							<div class="card-body">
								<h5 class="card-title">{{ quiz.titre }}</h5>
								<p class="card-text">{{ quiz.description }}</p>
								<p class="card-text">Difficulté : {{ quiz.difficulte }}</p>
								<p class="card-text"><small class="text-body-secondary">Fait le {{ quiz.dateC }}</small></p>
								{# Redirige vers jouerQuizz.html.twig avec l'identifiant du quizz #}
								<a href="index.php?controller=quizz&methode=gererQuizz&idQuizz={{ quiz.id }}" class="btn btn-myprimary">Gérer</a>
							</div>
						</div>
					</div>
				</div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if idUtilisateur != null and quizz.idUtilisateur is not defined %}
			<p> Vous n'avez créé aucun quizz. </p>
		{% endif %}
    </div>
</main>

{% endblock %}