{% extends 'base_template.html.twig' %}

{% block title %}
	VHS | Liste des quizz
{% endblock %}

{% block content %}
	<pre>
    {{ dump(messagederreur) }}
    {{ dump(messageConfirmation) }}
</pre>

	<main class="container flex-fill">
		<a href="index.php?controller=quizz&methode=afficherPageCreerQuizz&idUtilisateur&idQuizz={{ quiz.getId() }}" class="btn btn-primary position-fixed bottom-0 end-0 me-4 mb-4 px-6 d-flex align-items-center justify-content-center" style="border-radius: 50px; white-space: nowrap; min-width: 200px; z-index: 999;"> <i class="bi bi-pencil" style="font-size: 1.3rem; margin-right: 0.2 rem;"></i>
			<b>Créer un quizz</b>Q
		</a>
		<br>
		
		<!-- Boutons de manipulation de la page -->
		<div class="row text-center mb-3">
			<div class="row col mb-2 me-4">
				<a href="index.php?controller=quizz&methode=listeQuizz" class="btn btn-primary">
					<b>Voir les quizz</b>
				</a>
			</div>
			<div class="row col mb-2">
				{% if utilisateurConnecte != null %}
					<a href="index.php?controller=quizz&methode=afficherOngletGerer&idUtilisateur" class="btn btn-primary">
						<b>Gérer mes quizz</b>
					</a>
				{% else %}
					<button class="btn btn-primary fw-bold" data-bs-toggle="modal" data-bs-target="#veuillezVousConnecter">Gérer mes quizz</button>
				{% endif %}
			</div>
		</div>
		<div class="col">
			{% for quiz in quizz %}
				{% if (boutonVoirAppuye is defined or messagederreur is defined and quiz.getIdUtilisateur() != pseudoUtilisateur) 
				or (boutonGererAppuye is defined and quiz.getIdUtilisateur() == pseudoUtilisateur) %}
					<div class="row">
						<div class="card mb-3 bg-mydark text-white rounded">
							<div class="card-body">
								<h5 class="card-title mb-3">{{ quiz.getTitre() }}</h5>
								<p class="card-text">{{ quiz.getDescription() }}</p>
								<small class="card-text">Difficulté :
									{{ quiz.getDifficulte() }}</small><br>
								<small class="card-text">Fait le
									{{ quiz.getDate()|date("d/m/Y") }}</small><br>
								{% if boutonVoirAppuye is defined or messagederreur is defined %}
									<small class="card-text">Par
										{{ quiz.getIdUtilisateur() }}</small><br>
								{% endif %}
								<br>
								{% if boutonVoirAppuye is defined or messagederreur is defined %}
									<form action="index.php?controller=quizz&methode=jouerQuizz" method="post">
										<input type="hidden" name="idQuizz" value="{{ quiz.getId() }}">
										<button type="submit" class="btn btn-myprimary">Jouer</button>
									</form>
								{% elseif boutonGererAppuye is defined %}
									<div class="row">
										<form action="index.php?controller=quizz&methode=supprimerQuizz" method="post">
											<input type="hidden" name="idQuizz" value="{{ quiz.getId() }}">
											<button type="submit" class="col btn btn-tercary" onclick="return confirm('Voulez-vous vraiment supprimer le quizz ?');">Supprimer</button>
										</form>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}

			<!-- S'affiche quand l'utilisateur connecté n'a créé aucun quizz -->
			{% if idUtilisateur != null and quizz == null %}
				<h5>Vous n'avez créé aucun quizz.</h5>
			{% endif %}
		</div>


		{% if messagederreur is not null %}
			<div class="toast-container show position-fixed bottom-0 end-0 p-3">
				<div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="d-flex">
						<div class="toast-body">
							{{ messagederreur }}
						</div>
						<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
				</div>
			</div>
		{% endif %}

		{% if messageConfirmation is not null %}
			<div class="toast-container position-fixed bottom-0 end-0 p-3">
				<div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="d-flex">
						<div class="toast-body">
							{{ messageConfirmation }}
						</div>
						<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
				</div>
			</div>
		{% endif %}
	</main>

{% endblock %}

{% block script %}
		{{ parent()}}
		<script src="JS/toasts.js"></script>

{% endblock %}