{% extends 'base_template.html.twig' %}


{% block content %}
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
	<main class="content row flex-grow-1">

		<img src="{{ utilisateur.urlImageBaniere}}" alt="bagnede l'utilisateur {{utilisateur.pseudo}}" style=" width :100%;  max-height: 13em;  min-height: 3m;">
		<div class="row mt-3">
			<div class="col-2 ">
				<img src="{{ utilisateur.urlImageProfil}}" alt="imge de profilutilisateur l'utilisateur {{utilisateur.pseudo}}" style=" width :100%; max-width: 10em; max-height: 10em; min-width: 3em; min-height: 3m;" class=" d-block ps-2  m-auto">
			</div>
			<div class=" row row-cols-1 col px-0">
				<h2 class=" mt-auto mb-0 ">{{utilisateur.pseudo}}</h2> 
				<h4 class="fw-lighter fst-italic  ">{{utilisateur.nom}}</h4>
			</div>
		</div>

		<div class="row row-cols-3 w-75 mx-auto">
			<div>
				<a href="index.php?controller=utilisateur&methode=show&id_utilisateur={{utilisateur.getId()}}" class="btn btn-primary w-100">A propos</a>
			</div>
			<div>
				<a href="index.php?controller=utilisateur&methode=notification&id_utilisateur={{utilisateur.getId()}}" class="btn btn-primary  w-100">Vos notifications</a>
			</div>
			<div>
				<a href="index.php?controller=utilisateur&methode=edit" class="btn btn-primary  w-100">Modifier mon profil</a>
			</div>
		</div>

		<form action="index.php?controller=utilisateur&methode=modificationprofil" method="post" accept-charset="UTF-8" class="text-center col-12 col-md-8 col-lg-6 mx-auto p-4 bg-mydark text-white rounded my-5 ">
			<div class="form-group mb-3">
				<label class="d-block text-start mb-0">
					Changer l'idantifiant
				</label>
				<input type="text" name="id" value="{{ utilisateur.id}}" class="form-control">
			</div>
			<div class="form-group mb-3">
				<label class="d-block text-start mb-0">
					Changer le pseudo
				</label>
				<input type="text" name="pseudo" value="{{ utilisateur.pseudo}}" class="form-control">
			</div>
			<div class="form-group mb-3">
				<label class="d-block text-start mb-0">
					Changer le nom réel
				</label>
				<input type="text" name="nom" value="{{ utilisateur.nom}}" class="form-control">
			</div>
			<div class="form-group mb-3">
				<label class="d-block text-start mb-0">
					Changer la photo de profil
				</label>
				<input type="file" name="urlImageProfil" class="form-control">
			</div>
			<div class="form-group mb-3">
				<label class="d-block text-start mb-0">
					Changer la photo de bannière
				</label>
				<input type="file" name="urlImageBaniere" class="form-control">
			</div>
			<div class="form-group mb-3">
				<label class="d-block text-start mb-0">
					autoriser les notifications
				</label>
				<input type="checkbox" name="autoriserNotifications">
			</div>


			<input type="submit" class="btn btn-primary" value="valider la modificaltion" class="btn btn-myprimary my-2 w-50 mx-auto">
			<br>

			<a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Changer d'adresse mail
			</a>
			<br>
			<a href="index.php?controller=utilisateur&methode=afficherpageMDPOublier">
				Changer de mot de passe
			</a>

			<!-- pop up -->
			<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog ">
					<div class="modal-content bg-mydark" style="border: 1px solid #F2AC0F;">

						<div class="modal-header border-bottom-0">
							<button type="button" class="btn-close " style="color: white;" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group mb-3">
									<label class="d-block text-start mb-0">
										Changer le mail
									</label>
									<input type="text" name="mail" class="form-control">
								</div>
								<div class="form-group mb-3">
									<label class="d-block text-start mb-0">Confirmation du changement
									</label>
									<input type="mail" name="mailconf" class="form-control">
								</div>

								<button type="button" class="btn btn-primary">valider</button>

							</div>
						</div>
					</div>


				</form>

			</main>
		{% endblock %}
