{% extends 'base_template.html.twig' %}

{% block title %}
    VHS | Quizz
{% endblock %}

{% block content %}
<main class="container flex-fill">
    <br>
    <h2 class="mb-4">{{ quizz.getTitre() }}</h2>
	<form action="index.php?controller=quizz&methode=traiterResultatsQuestion" method="post">
		<input type="hidden" name="idQuizz" value="{{ quizz.getId() }}">
		<input type="hidden" name="idUtilisateur" value="{{ idUtilisateur }}">
		<input type="hidden" name="idQuestion" value="{{ question.getIdQuestion() }}">
		<input type="hidden" name="derniereQuestion" value="{{ derniereQuestion }}">
		<input type="hidden" name="nbBonnesReponses" value="{{ nbBonnesReponses }}">
		<!-- URL de l'image de la question -->
			<div class="row mb-4">
				<img src="images/{{ question.getUrlImage() }}" alt="Image de la question">
			</div>
			<!-- Carte de la question -->
			<div class="col card bg-mydark mx-auto my-auto p-4 text-white rounded">
				<div class="card-body">
					<h4 class="row mb-4">Question n°{{ question.getRang() }}</h4>
					<div class="row mb-2">
						{{ question.getValeur() }}
					</div>
				</div>
				{% for reponse in reponses %}
					<!-- Cartes des réponses -->
					<div class="col mb-4">
						<div class="card">
							<label for="reponse_{{ reponse.getRang() }}" class="btn btn-outline-tertiary">
								<input class="checkbox d-none card-body" type="checkbox" id="reponse_{{ reponse.getRang() }}" name="reponse_{{ reponse.getRang() }}"/>
								{{ reponse.getValeur() }}
							</label>
						</div>
					</div>
				{% endfor %}
				
			<p><i>Veuillez choisir au maximum 3 réponses.</i></p>

			<!-- Boutons "Retour", "Suivant" ou "Voir les résultats" si c'est la dernière question -->
			<div class="row">
				<div class="row col mt-4 mb-2 me-4">
					<a href="index.php?controller=quizz&methode=listeQuizz" class="btn btn-primary mx-auto">
						<b>Retour aux quizz</b>
					</a>
				</div>
				<div class="row col mt-4 mb-2">
					{% if derniereQuestion %}
						<button type="submit" class="btn btn-primary mx-auto">
							<b>Voir les résultats</b>
						</button>
					{% else %}
						<button type="submit" class="btn btn-primary mx-auto">
							<b>Suivant</b>
						</button>
					{% endif %}
				</div>
			</div>
	</form>
</main>

<script src="js/participerQuizz.js"></script>

{% endblock %}
