{% extends 'base_template.html.twig' %}

{% block title %}
	VHS | Quizz
{% endblock %}


{% block content %}

	<main class="">
		<div class="container">
			<br>
			<div class="row row text-center">
				<div class="col">
					<button class="btn btn-myprimary my-2 mx-auto py-4">Créer un quizz</button>
				</div>
				<div class="col">
					<button class="btn btn-myprimary my-2 mx-auto py-4">Gérer mes quizz</button>
				</div>
			</div>
			<br>
			<br>
			<h3> Les quizz : </h3>
			<br>
				{% for quiz in quizz %}
				<div class="col-md-6 mb-4">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row g-0">
							<div class="card-body">
								<h5 class="card-title">{{ quiz.titre }}</h5>
								<p class="card-text">{{ quiz.description }}</p>
								<p class="card-text">Difficulté : {{ quiz.difficulte }}</p>
								<p class="card-text"><small class="text-body-secondary">Fait le {{ quiz.dateC }}</small></p>
								<p class="card-text"><small class="text-body-secondary">Par {{ quiz.idUtilisateur }}</small></p>
								<a href="#" class="btn btn-myprimary">Jouer</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</main>

{% endblock %}