{% extends 'base_template.html.twig' %}


{% block content %}

	<main class="  flex-grow-1">

		<img src="{{ utilisateur.urlImageBanniere}}" alt="bannière de l'utilisateur{{utilisateur.pseudo}}" style=" width :100%;  max-height: 13em;  min-height: 3m;">
		<div class="row mt-3">
			<div class="col-2  d-flex align-items-center justify-content-center">
				<img src="{{ utilisateur.urlImageProfil}}" alt="image de profil de l'utilisateur {{utilisateur.pseudo}}" style=" width :100%; max-width: 10em; max-height: 10em; min-width: 3em; min-height: 3m;" class=" rounded-circle ps-2  ">
			</div>
			<div class=" row row-cols-1 col px-0">
				<h2 class=" mt-auto mb-0 ">{{utilisateur.pseudo}}</h2>
				<h4 class="fw-lighter fst-italic  ">{{utilisateur.nom}}</h4>
			</div>
		</div>


		{% if utilisateurConnecte.getId() == utilisateur.getId() %}
			<div class="row row-cols-sm-3 row-cols-1 w-75 mx-auto">
				<div>
					<a href="index.php?controller=utilisateur&methode=show" class="btn btn-primary border {% block show %}  {% endblock %} w-100 mb-2">A propos</a>
				</div>
				<div>
					<a href="index.php?controller=notification&methode=afficheNotifications" class="btn btn-primary {% block notif %}  {% endblock %}  w-100 mb-2">Vos notifications</a>
				</div>
				<div>
					<a href="index.php?controller=utilisateur&methode=edit" class="btn btn-primary {% block edit %} {% endblock %}   w-100 mb-2">Modifier mon profil</a>
				</div>
			</div>


		{% endif %}

        {% block contenue %}

        {% endblock %}
    </main>



{% endblock %}
